@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;900&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-btns,
.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.circle {
  text-align: center;
  line-height: 300px;
  background-color: lightgray;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  font-size: 2rem;
  font-weight: 600;
}

button {
  padding: 1rem 2rem;
  margin: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  background-color: rgb(130, 51, 239);
  border: none;
  border-radius: 10px;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: turquoise;
  color: black;
}
